.categories-outer-box{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.categories-outer-box a{
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.category-link{
    padding: 0.5em;
    font-size: 0.9em;
}


.subcategories-box{
    display: none;
    position: absolute;
}

.category:hover>.subcategories-box {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.category:hover>.category-link>a {
    color: rgb(93, 155, 236);
}

.subcategories-box{
    background-color: whitesmoke;
    font-size: 0.9em;
}
.subcategories-box>a{
    padding: 10px;
    color: rgb(78, 78, 78);
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
    text-decoration: none;
}

.subcategories-box>a:hover{
    background-color: rgb(216, 215, 215);
    color: black;
}

