.footer{
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 1.4em;
    font-size: 0.9em;
    box-sizing: border-box;
}

#ftr-mrgn{
    height: 3.73em;
}