#deal-head{
    color: rgb(20, 44, 42);
}

.deals-outer-box{
    text-align: center;
    margin: 50px;
}

.sub-deal-box>h4{
    color: rgb(20, 44, 42);
}

.deals-box{
    width: 80%;
    display: flex;
    margin: 20px auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-deal-box{
    border: 1px solid rgb(189, 189, 189);
    margin-bottom: 20px;
}

.sub-deal-box>hr{
    width: 80%;
    height: 0.2px;
}

.deal-img-box{
    position: relative;
    height: 300px;
    width: 300px;
    text-align: center;
    border: 1px solid rgb(211, 211, 211);
}

.deal-name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243, 0.5);
    max-height: calc(40px + 1em);
    overflow: hidden;
    white-space: nowrap;
}

.deal-img-box:hover{
    box-shadow: 0 0 7px 1px rgb(223, 223, 223);
}

.deal-img-box>img{
    height: 100%;
}

@media screen and (max-width : 800px) { 
    .deal-img-box{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width : 800px) {
    .deals-outer-box{
        margin: 10px;
    }
}