.acct-form-box{
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    margin-top: 20vh;
    border-radius: 10px;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(179, 179, 179);
}

.acct-form-box>form>div{
    margin: 10px;
}

.acct-form-box>form>div>label{
    font-size: 20px;
}

.acct-form-box>form>div>input{
    padding: 5px;
    border: 1px solid rgb(179, 179, 179);
    outline: none;
    border-radius: 3px;
    font-size: 16px;
}

.acct-form-box>form>div>input:focus{
    border: 1px solid rgb(93, 93, 93);
}

.acct-form-box>form>div>button{
    border: none;
    background-color: rgb(27, 195, 111);
    color: whitesmoke;
    padding: 8px 14px;
    font-size: 18px;
    margin-top: 10px;
}

.acct-form-box>form>div>button:active{
    background-color: rgb(25, 163, 94);
    /* box-shadow: 0 0 4px 1px rgb(70, 204, 137); */
    color: white;
}