body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(17, 116, 155);
    padding: 20px;
}

.navbar>*{
    display: inline-block;
}

.navbar *{
    color: white;
    text-decoration: none;
}
