body{
    font-family: "Nunito Sans",sans-serif;
}

#navbar-margin-box{
    height: calc(40px + 1.3em);
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(214, 214, 214);
    align-items: center;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
    font-size: 16px;
}

.navbar>*{
    display: inline-block;
}

.navbar *{
    color: rgb(110, 110, 110);
    text-decoration: none;
}

#navbar-srch-inputbox{
    font-size: 1em;
    outline: none;
    padding: 0.625em;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(187, 187, 187);
    border-right: none;
}

#navbar-srch-inputbox:focus{
    border: 1px solid rgb(70, 204, 137);
}

#srch-btn{
    font-size: 1em;
    outline: none;
    padding: 0.625em;
    border: 1px solid rgb(187, 187, 187);
}

#srch-btn:active{
    box-shadow: 0 0 4px 1px rgb(209, 209, 209);
}

.all-img{
    vertical-align: middle;
    height: 1em;
}

.nb-acc-links{
    color: rgb(70, 204, 137);
    padding: 5px 10px;
    border: 1px solid rgb(70, 204, 137);
}

.nb-acc-links:hover{
    background-color: rgb(70, 204, 137);
    color: white;
}

.nb-acc-links:hover:active{
    box-shadow: 0 0 4px 1px rgb(70, 204, 137);
}

#nb-logout-btn{
    border: none;
    padding: 0.625em;
    background-color: rgba(219, 51, 36, 0.924);
    color: whitesmoke;
}

.icons{
    vertical-align: middle;
    display: none;
    height: 1.4em;
}

#nb-logout-btn:active{
    font-size: 1em;
}

.accb2{
    display: block;
}

.accb1{
    display: none;
}

#cart-desk{
    display: block;
}

#cart-mob{
    display: none;
}

@media screen and (max-width: 800px){
    .navbar{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px){
    .navbar{
        font-size: 14px;
    }

    #navbar-srch-inputbox, #srch-btn{
        padding: 0.3em;
    }

    #srch-btn{
        border-radius: 0 5px 5px 0;
    }

    .icons{
        display: inline;
    }

    .accb2{
        display: none;
    }

    .account-outer-box{
        position: relative;
    }

    .accb1{
        display: block;
        position: absolute;
        right: 0;
        background-color: white;
    }

    .nb-acc-links{
        display: block;
    }

    #cart-desk{
        display: none;
    }
    
    #cart-mob{
        display: block;
    }

    #navbar-srch-inputbox{
        width: 100px;
    }
}