body{
    font-family: "Nunito Sans",sans-serif;
}

#navbar-margin-box{
    height: calc(40px + 1em);
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(214, 214, 214);
    align-items: center;
    z-index: 1;
    background-color: white;
    box-sizing: border-box;
}

.navbar>*{
    display: inline-block;
}

.navbar *{
    color: rgb(110, 110, 110);
    text-decoration: none;
}

#navbar-srch-inputbox{
    outline: none;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(187, 187, 187);
    border-right: none;
}

#navbar-srch-inputbox:focus{
    outline: 2px solid rgb(211, 183, 61);
}

#srch-btn{
    outline: none;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
}

.all-img{
    vertical-align: middle;
    height: 1em;
}

.nb-acc-links{
    color: rgb(70, 204, 137);
    padding: 5px 10px;
    border: 1px solid rgb(70, 204, 137);
}

#nb-logout-btn{
    border: none;
    padding: 10px;
    background-color: rgba(219, 51, 36, 0.924);
    color: whitesmoke;
}