.plp-main{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 20px;
}

.list-outer-box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
}

.card-box:hover{
    box-shadow: 0 0 7px 1px rgb(219, 219, 219);
}