.product-card-box a{
    text-decoration: none;
    color: unset;
}

.product-card-box{
    height: fit-content;
    width: 250px;
    position: relative;
}

.card-img{
    width: 100%;
    height: 200px;
    display: block;
}

.product-card-box p{
    margin: 0;
}

.card-details-box{
    background-color: white;
    padding: 5px;
}

.card-product-title{
    font-size: 13px;
    max-height: 1.5em;
    word-wrap: normal;
    overflow: hidden;
}

.card-price{
    font-size: 14px;
}