.product-card-box a{
    text-decoration: none;
    color: unset;
}

.product-card-box{
    height: fit-content;
    width: 250px;
    position: relative;
    font-family: "Nunito Sans",sans-serif;
    background-color: white;
}

.img-box{
    height: 200px;
    width: 200px;
    margin: auto auto;
}

.card-img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.product-card-box p{
    margin: 5px;
}

.card-details-box{
    padding: 5px;
    border-left: 1px solid rgb(202, 202, 202);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}

.card-product-title{
    font-size: 13px;
    max-height: 1.5em;
    word-wrap: normal;
    overflow: hidden;
}

.card-price{
    font-size: 14px;
    font-weight: bold;
}

.card-btns-box>button{
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 14px;
}

.card-btns-box img{
    height: 1em;
    width: 1em;
}

.buy-btn{
    float: right;
    box-sizing: border-box;
    background-color: #ceb52d;
    color: rgba(255, 255, 255, 0.87);
}

.addcart-btn{
    box-sizing: border-box;
    vertical-align: bottom;
    background-color: #414141;
    color: rgba(255, 255, 255, 0.945);
}

.buy-btn:active{
    background-color: #c0a612;
}

.addcart-btn:active{
    background-color: #353535;
}