.sort-options-box{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    height: 100%;
    padding: 5px;
    background-color: white;
}

.sort-options-box>label{
    font-family: "Nunito Sans",sans-serif;
    font-size: 14px;
}

.sort-options-box>h5{
    font-size: 14px;
    margin: 5px;
}

@media screen and (max-width: 800px) {
    .sort-options-box{
        height: unset;
    }
}